
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myHotUserLabel" data-translate="jhipsterApp.hotUser.home.createOrEditLabel">Create or edit a Hot User</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.hotUser.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.hotUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterApp.hotUser.hotid" for="field_hotid">Hotid</label>
            <input type="number" class="form-control" name="hotid" id="field_hotid"
                    ng-model="vm.hotUser.hotid"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterApp.hotUser.userid" for="field_userid">Userid</label>
            <input type="number" class="form-control" name="userid" id="field_userid"
                    ng-model="vm.hotUser.userid"
                    />
        </div>

        <div class="form-group">
            <label data-translate="jhipsterApp.hotUser.hot" for="field_hot">Hot</label>
            <select class="form-control" id="field_hot" name="hot" ng-model="vm.hotUser.hot" ng-options="hot as hot.id for hot in vm.hots track by hot.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
